:host{
    display: block;
    padding-top: 30px;
}

.bg-red {
    background-color: #ffcccc; /* Rojo claro */
    padding: 10px;
    border-radius: 5px;
  }
  
  .bg-green {
    background-color: #ccffcc; /* Verde claro */
    padding: 10px;
    border-radius: 5px;
  }
  