:host{
    display: block;
    background-color: #2168e9;
    height: 900px;
}
.contenedor-fotos{
    max-width: 1160px;
    margin: auto;
    display: flex;
    padding-top: 30px;
    position: relative;
    z-index: 1; 
}
.item-foto{
    flex: 1;
    display: flex;
    align-items: flex-end;
    
}
img{
    max-width: 100%;
    transition: transform 0.3s ease;
}
img:hover {
    transform: scale(1.03); /* Aumenta el tamaño en un 10% */
}
.central img {
    height: 555px;

}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.boton-personalizar-tu-cover{
    display: flex;
    padding: 10px;
    margin-bottom: 150px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    width: auto;
    fill: #000000;
    color: #000000;
    background-color: #E4CF13;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #000000;
    border-radius: 150px 150px 150px 150px;
    transition: transform 0.3s ease; /* Suaviza el efecto de hover */
}

.boton-personalizar-tu-cover:hover {
    box-shadow: 0 0 20px 5px rgba(0, 123, 255, 0.8);
    transform: scale(1.1);
}
.svg-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    position: relative;
    top: 5px;
}
.other-background-color{
    background-color: #c3d7ee;
    height: 300px;
}
.contenedor-fotos-screen-chica{
    display: none;
    margin: auto;
    max-width: 1160px;
    justify-content: center;
    position: relative;
    padding-bottom: 30px;
    background-color:#2168e9; 
}
.ubicar-boton-screen-chica{
    position: absolute;
    bottom: -90px;
    align-self: center;
    white-space: nowrap; /* Evita saltos de línea */
}
.card{
    z-index: 1!important;
}
@media (max-width: 820px) {
    .contenedor-fotos{
      display: none;
    }
    .contenedor-fotos-screen-chica{
       display:  flex;
       padding-top: 20px;
    }
    .fondo-rosa{
        display: none;
    }
    :host{
        display: block;
        background-color:#2168e9; 
        height: 700px;
    }
    .other-background-color{
        display: none;
    }
    .boton-personalizar-tu-cover{
      
        width: auto;
        max-width: 300px;
        
    }
  }
  @media (min-width:820px){
    .boton-personalizar-tu-cover{
       
        width: auto;
        max-width: 500px;
       
    }
  }
  @media (max-width: 1150px) {
    .item-foto{
        flex: 1;
        display: flex;
        align-items: center;
        
    }
    .central img {
        height: 450px;
    
    }
  }
  @media (max-width: 500px) {
    :host{
        height: auto;
    }
   
  }
  @media (max-width:378px){
    .boton-personalizar-tu-cover{
        font-size: 17px;
        width: 70%
    }
  }

  @media (max-width: 290px) {
    .boton-personalizar-tu-cover{
        font-size: 17px;
        width: 90%;
    }
  }