:host{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
}
.mi-cuenta{
    background-color: #2168e9;
    height: 150px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    max-width: 900px;
    justify-content: center;
    gap: 16px; /* Espaciado entre hijos (opcional) */
}

.container > * {
  flex: 1; /* Hace que los hijos ocupen el mismo espacio */
  padding: 20px;
}
.ultimo {
    margin-top: auto; /* Empuja este elemento hacia abajo */
}
@media (max-width: 650px) {
   .container{
    flex-direction: column;
    justify-content: start;
   }
  }