
<p>
    CUSTOM AT YOUR <span class="blue">STYLE</span><br>
    THE <span class="orange">HOTTEST</span> OF THE SEASON
  </p>
  
<!--<div class="video-muestra"></div>-->
<div class="grid-container">
    <div class="item">
        <div class="offer-label orange-background" >you can</div>
        <img src="assets/portada-phone1.jpg" alt="">
    </div>
    <div class="item">  
        <div class="offer-label blue-background" >build your</div>
        <img src="assets/portada-phone2.jpg" alt="">
    </div>
    <div class="item">
        <div class="offer-label yellow-background" >phone </div>
        <img src="assets/portada-phone3.jpg" alt="">
    </div>
    <div class="item">
        <div class="offer-label custom" >custom case</div>
        <img src="assets/portada-phone4.jpg" alt="">
    </div>
    <!--<div class="item"></div>-->
</div>

<!--
<div class="flex-container">
    <div class="item-flex"appScrollAnimation ></div>
    <div class="item-flex" appScrollAnimation></div>
</div>-->

<div class="decorations">
    <div class="circle orange"></div>
    <div class="circle blue"></div>
    <div class="circle yellow"></div>
  </div>