<div class="title-container">
    <h1>Choose the Best Option for You</h1>
  </div>
  
  
<div class="container">
  
    <div class="left-panel">
        <img src="./assets/case-2.png" alt="Celular" class="phone-image" /> 
        <div class="product-container">
            <div class="product-title">
              <h2>CASE 2D PERSONALIZABLE</h2>
            </div>
            <div class="product-price">
              <p>$60.000</p>
            </div>
          </div>
        <app-personalize-button-case [url]="'/create/iphone-cover-2d'"></app-personalize-button-case>
    </div>
    <div class="right-panel">
      <img src="./assets/case-3.png" alt="Celular" class="phone-image" />  
      <div class="product-container">
        <div class="product-title">
          <h2>CASE 3D PERSONALIZABLE</h2>
        </div>
        <div class="product-price">
          <p>$90.000</p>
        </div>
      </div>
      <app-personalize-button-case  [url]="'/create/iphone-cover-3d'"></app-personalize-button-case>
    </div>
</div>

<app-footer></app-footer>