

<div class="container">
  <h1 class="title">
    CHOOSE THE BEST OPTION <span>FOR YOU</span>
  </h1>
  <div class="options">
    <div class="card">
      <picture>
        <source srcset="assets/case-2chica.png" media="(max-width: 500px)">
        <img src="assets/case-2.png" alt="Case 2D">
      </picture>
      <p class="description">Case 2D Personalizable</p>
      <p class="price">Price: $ 60.00</p>
      <button class="btn" [routerLink]="'/create/iphone-cover-2d'">Start Customizing</button>
    </div>
    <div class="or">OR</div>
    <div class="card ">
      <picture>
        <source srcset="assets/case-3chica.png" media="(max-width: 500px)">
        <img src="assets/case-3.png" alt="Case 3D">
      </picture>
      <p class="description">Case 3D Personalizable</p>
      <p class="price">Price: $ 90.00</p>
      <button class="btn" [routerLink] ="'/create/iphone-cover-3d'">Start Customizing</button>
    </div>
  </div>
  <div class="decorations">
    <div class="circle orange" style="position: absolute; top: 20px; left: -50px;"></div>
    <div class="circle blue" style="position: absolute;  bottom: -40px; left: -70px;"></div>
    <div class="circle yellow" style="position: absolute; top: 30%; right: -40px;"></div>
  </div>
</div>

<app-footer></app-footer>