

<div class="admin-sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/admin/dashboard" 
        routerLinkActive="active" 
        aria-current="page">
        super admin
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/admin/access-done/admin-stock" 
        routerLinkActive="active">
        Administrar stock
      </a>
    </li>
    <li class="nav-item">
      <a 
        class="nav-link" 
        routerLink="/admin/access-done/orders/list-orders/pagada" 
        routerLinkActive="active">
        orders
      </a>
    </li>
   
  </ul>
</div>
