.container-form{
    display: flex;
    flex-direction: column;
  }
  
  
  .styled-button-disabled {
    background-color: #d3d3d3; /* Color para estado deshabilitado */
    color: #808080; /* Texto gris */
    cursor: not-allowed;
  }
  
  .styled-button-active {
    background-color: #28a745; /* Color para estado activo */
    transform: scale(1.05); /* Pequeño aumento para resaltar */
  }
  button {
    margin: 10px 0; /* Espaciado entre los botones */
  }


  .styled-button {
    background-color: #f04c4c; /* Color rojo */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding:15px 23px; /* Espaciado interno */
    font-size: 13px; /* Tamaño de fuente */
    font-weight:400; /* Texto en negrita */
    cursor: pointer; /* Cursor de mano */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s ease; /* Transición suave */
    margin-left: 12px;
  }
  
  .button-container-step-2 {
    display: flex;
    justify-content:right; /* Alinea horizontalmente */
    align-items: center; /* Alinea verticalmente */
  }

  h2{
    font-weight: bold;
  }