
:host{
  font-family: "Montserrat", serif!important;
}
.container {
  text-align: center;
 
  display: flex;
  justify-content: space-between;
}
/* Estilos de step 1 add image */
.columna-1-step-1{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.primeracolumnacontenedorsetp1{
  display: flex;
    flex-direction: column;
    justify-content: space-around;
   width: auto;
   height: 100%;
    
}
.upload-box {
  width: 250px;
  height: 150px;
  border: 2px dashed  #303672;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: background-color 0.2s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-right: 25px;
}

.upload-box:hover {
  background-color: #e9ecef;
}

.upload-icon {
  font-size: 36px;
  color:#303672;
  margin-bottom: 8px;
}

.upload-text {
  color: #6c757d;
  font-size: 13px;
  font-weight: bold;
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

canvas {
  
  display: block;
  margin: 0 auto;
  background-color: #f8f8f8;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}


.rotate-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 1 / 2;
  grid-row: 3/ 4;
}
.rotate-text {
  font-size: 16px;
  font-weight: 500;
  color: #007bff; 
  cursor: pointer;
  transition: color 0.2s ease;
}
.rotate-text:hover {
  color: #0056b3;
}
.button-container-1 {
  display: flex;
  justify-content:space-between;
  align-items: center; 
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
/* fin Estilos de step 1 add image */


.mat-form-field {
  margin-top: 16px;
}



.stepper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa para centrar verticalmente */
}

mat-horizontal-stepper {
  width: 50%; /* Ajusta el ancho del Stepper */
}

mat-step {
  text-align: center; /* Centra el contenido de cada paso */
}

button {
  margin: 10px 0; /* Espaciado entre los botones */
}

.button-container,.button-container-step-2 {
  display: flex;
  justify-content:space-between; /* Alinea horizontalmente */
  align-items: center; /* Alinea verticalmente */
}
.button-container-step-2{
  width: 170px;
}
.styled-button {
  background-color: #f04c4c; /* Color rojo */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  padding:15px 23px; /* Espaciado interno */
  font-size: 13px; /* Tamaño de fuente */
  font-weight:400; /* Texto en negrita */
  cursor: pointer; /* Cursor de mano */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.2s ease; /* Transición suave */
  margin-left: 12px;
}

.styled-button:hover {
  background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

.mat-step-header {
  pointer-events: none !important; /* Bloquea clics en los títulos */
  cursor: default !important; /* Evita que se muestre la mano al pasar el mouse */
}


#finalCanvas , #canvasTresFinal{
  
  
 
}

.header {
  text-align: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 13px;
}

.header h1 {
  font-size: 1.2rem;
  color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
}
.address{
  display: flex;
  justify-content: center;
}
.order-summary {
  text-align: center;
  padding: 20px;
  overflow-x: auto;
  display: block;
  gap: 10px;
  padding: 10px;
  background-color: #f3f4f6;
}

.order-table {
  margin: 20px auto;
  border-collapse: collapse; /* Necesario para que border-radius funcione */
  border-spacing: 0; /* Elimina espacios entre las celdas */
  border: 1px solid #ddd;
  border-radius: 7px; /* Bordes redondeados generales */
  overflow-x: auto !important;
  max-width: 100% !important;
  background-color: white;
  margin: 23px;
}
.table-container {
  overflow-x: auto; 
  max-width: 100%;
}
.order-table thead tr th {
  background-color: #303672;
  color: #d3d3d3;
  padding: 8px;
  text-align: center;
}

.order-table tbody tr td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

/* Aplica bordes redondeados específicos a las esquinas superiores */
.order-table thead tr:first-child th:first-child {
  border-top-left-radius: 7px;
}

.order-table thead tr:first-child th:last-child {
  border-top-right-radius: 7px;
}

/* Aplica bordes redondeados específicos a las esquinas inferiores */
.order-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}

.order-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}


.thumbnail-image {
  width: 50px;
  height: auto;
}

/* Botón de compra */
.buy-button {
  padding: 0.8rem 2rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-button:hover {
  background-color: #d32f2f;
}

.buy-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.summaryorder{
  display: grid;
  grid-template-columns: 20% 80%;
}

.redirecting{
  width: 600px;
  margin: auto;
}



h3 {
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  color: #555;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2{
  font-weight: 700;
  
}



.styled-button-disabled {
  background-color: #d3d3d3; /* Color para estado deshabilitado */
  color: #808080; /* Texto gris */
  cursor: not-allowed;
}

.styled-button-active {
  background-color: #28a745; /* Color para estado activo */
  transform: scale(1.05); /* Pequeño aumento para resaltar */
}


.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: "Montserrat", serif!important; 
}

/* responsive para step 1 */
@media (max-width:860px) {
  .columna-1-step-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .primeracolumnacontenedorsetp1{
    display: block;
      flex-direction: column;
      justify-content: space-around;
     width: auto;
     height: auto;
      
  }
  .upload-box{
    margin-bottom: 20px;
    position: relative;
    left: 15px;
  }
  .order-table {
    margin:0px;
  }
}
@media (max-width:860px) {
  .address{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .order-table {
    margin:auto;
  }
}
@media (max-width:450px) {
  canvas {
    position: relative;
    left: -45px!important;
  }
  .address canvas {
    
    position: relative;
    left: 5px!important;
  }
  .address{
   width: 100%;
  }
  .step-container-2{
    display: grid;
 
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 10px;
    background-color: #f3f4f6;
  }
  .item1-step2 ,.item4-step2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-items: center;  /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  .item4-step2 {
    position: relative;
    left: 100px;
    align-items: center;  /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
  }
  .item2-step2 {
    align-items: center;  /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */

  }
  .item2-step2 .lower-canvas{
    right: -50px!important;
  }
  .columna-1-step-1{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    
  }
}
@media (max-width:394px) {
  canvas {
    left: -55px!important;
  }
}
@media (max-width:384px) {
  canvas { 
    left: -75px!important;
  }
}
@media (max-width:324px) {
  canvas {
    left: -95px!important;
  }
  .rotate-container{
    position: relative;
    left: -15px!important;
  }
  .upload-box {
    width: 200px;
  }
}


.mat-step-header {
  pointer-events: none !important; /* Deshabilita clics en los títulos */
  cursor: default !important; /* Cambia el cursor para que no parezca clickeable */
}


.phone {
  margin: auto;
}

.container, .container-md, .container-sm {
  max-width: 100%;
}