
<div class="button-container">
    <button class="styled-button">
      <a routerLink="/admin/access-done/admin-stock/phonecases/2d" class="button-link" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">2D Cases</a>
    </button>
    <button class="styled-button">
      <a routerLink="/admin/access-done/admin-stock/phonecases/3d" class="button-link" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">3D Cases</a>
    </button>
</div>
  
<router-outlet></router-outlet>