
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name" class="form-label" >name:</label>
    <input id="name"  class="form-control" formControlName="name" type="text">
    <span *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
      name must be at least 3 characters
    </span>
  </div>

  <div>
    <label for="email" class="form-label">Email:</label>
    <input id="email"  class="form-control" formControlName="email" type="email">
    <span *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      Invalid email
    </span>
  </div>

  <div>
    <label for="password"class="form-label" >Password:</label>
    <input id="password"  class="form-control" class="form-control" formControlName="password" type="password">
    <span *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      Password must be at least 6 characters
    </span>
  </div>

  <div>
    <label for="confirmPassword"class="form-label" >Confirm Password:</label>
    <input id="confirmPassword"   class="form-control" formControlName="confirmPassword" type="password">
    <span *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
      Passwords do not match
    </span>
  </div>

  <button type="submit"  class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
</form>
