
<div class="banner-container">
    <!-- Sección izquierda -->
    <div class="text-section">
       <!--<img src="assets/designs-that.jpg" alt="">  -->
       <div class="hero-text">
        <h1>
          <span class="designs">DESIGNS</span>
          <span>THAT</span> <span class="line"></span>
        </h1>
        <h2><span class="designs">BLOW </span><span>YOUR MIND</span></h2>
        <p>bringing your ideas to reality</p>
        <div class="buttons">
          <button class="btn-primary"
                   routerLink="/create" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: false }">
                   Get Started</button>
        
        </div>
      </div>
      
      
      <div class="scroll-indicator">
        <img src="assets/scroll.jpg" alt="">
      </div>
    </div>
  
    <!-- Sección derecha (solo un contenedor vacío para la imagen) -->
    <div class="image-section">
      <!-- Aquí iría la imagen que agregarás luego -->
      <img src="assets/case.jpg" alt="">
    </div>
  </div>
